# Python
__pycache__/                                                                                              
*.py[cod]                                                                                                 
*$py.class                                        
venv/                                                                                                     
.venv/                                                                                                    
                                                                                                          
# Secret & Sessions                                                                          
auth_state.json

# Screenshots & Logs
*.png
*.log
output.txt
result.json
output.json
downloads/

# OS files
.DS_Store
